<ul class="flex border-b rounded-xl shadow lg:px-4 lg:gap-6 pt-2 whitespace-nowrap">
  <li class="mr-1">
    <a routerLink="/dashboard" routerLinkActive="bg-slate-100 border-l border-t border-r rounded-t text-blue-800 underline" class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold " >Dashboard</a>
  </li>
    <li class="-mb-px mr-1">
      <a routerLink="/" routerLinkActive="bg-slate-100 border-l border-t border-r rounded-t text-blue-800 underline" [routerLinkActiveOptions]="{exact: true}" class=" inline-block py-2 px-4 text-blue-500 font-semibold" href="#">List Accounts</a>
    </li>
    <li class="mr-1">
      <a routerLink="/add" routerLinkActive="bg-slate-100  border-l border-t border-r rounded-t text-blue-800 underline " class=" inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="#">add Account</a>
    </li>
    
  </ul>